body{
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

#side{
	width: 220px;
	height: 770px;
	background-color: #2E2E2E;
	float: left;
}

#logo{
	margin: 40px 0 0 50px;

}

img{
	width: 60%;
	height: auto;


}

#side_nav{
	margin: 40px 60px 0 0;
}

#side_nav ul{
	list-style: none;
	color: white;
	text-align: center;
	line-height: 2;
	
}
li{
	font-size: 16px;
}
li:hover{
	color: teal;
}

.box_right{
/*	background-color: orange; */
	float: left;
	display: inline-block;
	margin: 0 0 0 25px;
}

.header{
	height: 100px;
	width: 100%;
	
}
.mininav{
	margin: 20px 0 0 0;


}

.mininav p{
	float:left;
	display: inline-block;
	margin: 0 8px 0 2px;
	padding: 4px 8px 2px 8px;
	color: #B32222;
	list-style: none;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	font-style: bold;
}
.mininav p:hover{
	background-color: #B32222;
	color: white;
	border-radius: 6px;

}

 h1{
 	color: #B32222;
 	font-size: 30px;
 }

 .bottom{
/* 	background-color: blue; */
 	display: inline-block;
 }

 .photo{
 	background-color: red;
 	width: 800px;
}

 .photo img{
 	width: 300px;
 	height: auto;
    padding: 0px 25px 15px 0px;
 /* background-color: yellow;*/
    display: inline-block;
    float: left;
}

 .pbox{
 	float: left;
 }
 